---
layout: default
---
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ page.title }}: {{ page.subtitle }}</h2>
                        <hr class="star-primary">
                        <img src="/img/portfolio/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.alt }}">
                        <hr class="star-primary">
                        <p>{{ page.description }}</p>
                        {{ content }}
                        <a href="{{ site.baseurl }}/projects"><button type="button" class="btn btn-default"></i> Back to Projects</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>