---
layout: default
---
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>{{ page.fulltitle }}</h3>
                        <hr class="star-primary">
                        <p class="text-muted">{{ page.description }}</p>
                        <p class="text-muted"><i>{{ page.story }}</i></p>
                        <hr class="star-primary">
                        {{ content }}
                        <br><br>
                        <a href="{{ site.baseurl }}/projects"><button type="button" class="btn btn-default"></i> Back to Projects</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>